/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 34, ../sass/_base.scss */
html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 35, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 36, ../sass/_base.scss */
body {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

/* line 41, ../sass/_base.scss */
.container {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f7f7f7;
}

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}
/* line 56, ../sass/_base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../sass/_header.scss */
header {
  position: relative;
  height: 2.75rem;
  width: 100%;
  line-height: 2.75rem;
  text-align: center;
  color: white;
  background-color: #e4366b;
}
/* line 11, ../sass/_header.scss */
header h1 {
  width: 7.5rem;
  height: 2.75rem;
  margin: 0 auto;
  font-size: 1.19rem;
}
/* line 16, ../sass/_header.scss */
header h1 span {
  float: left;
  font-size: 0.875rem;
}
/* line 21, ../sass/_header.scss */
header .icon {
  position: absolute;
  left: 5%;
  top: 0;
  color: #000000;
}

/* line 1, ../sass/_footer.scss */
footer {
  width: 100%;
  height: 3.06rem;
  border-top: 1px solid #ffffff;
  background-color: #484850;
}
/* line 10, ../sass/_footer.scss */
footer dl {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  border-top: 0.156rem solid #484850;
  color: #FFFFFF;
}
/* line 17, ../sass/_footer.scss */
footer dl dt {
  font-size: 1.5rem;
  height: 50%;
  line-height: 1.53rem;
}
/* line 23, ../sass/_footer.scss */
footer dl dd a {
  color: #FFFFFF;
  font-size: 0.6875rem;
}
/* line 29, ../sass/_footer.scss */
footer .active {
  border-top-color: #e4366b;
}

/* line 6, ../sass/login.scss */
header .register {
  position: absolute;
  right: 5%;
  top: 0.4rem;
  display: block;
  font-size: 0.5rem;
  height: 1.65625rem;
  width: 3.6875rem;
  line-height: 1.65625rem;
  color: #FFFFFF;
  border-top: 1px solid #F7F7F7;
  -moz-border-radius: 3rem;
  -webkit-border-radius: 3rem;
  border-radius: 3rem;
  background-color: #E43381;
}

/* line 22, ../sass/login.scss */
.L_container .main {
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 80%;
  margin: 0 auto;
}
/* line 26, ../sass/login.scss */
.L_container .main .login-item {
  width: 100%;
  height: 3.8125rem;
}
/* line 29, ../sass/login.scss */
.L_container .main .login-item input {
  width: 100%;
  outline: 0;
  text-indent: 1.25rem;
  -moz-border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  border-radius: 0.9375rem;
  border: 1px solid #969896;
  height: 1.875rem;
}
/* line 37, ../sass/login.scss */
.L_container .main .login-item .accept {
  padding: 0;
  text-indent: 0;
  text-align: center;
  font-size: 1.125rem;
  font-family: "microsoft yahei";
  color: #F7F7F7;
  background-color: #e4366b;
}
/* line 46, ../sass/login.scss */
.L_container .main .login-item p {
  display: none;
  font-size: 0.5rem;
  color: #FF0000;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 1.25rem;
}
/* line 53, ../sass/login.scss */
.L_container .main .radio {
  font-size: 0.5rem;
  line-height: 1.25rem;
}
/* line 56, ../sass/login.scss */
.L_container .main .radio span {
  float: left;
  margin-left: 0.3125rem;
}
/* line 60, ../sass/login.scss */
.L_container .main .radio a {
  float: left;
  margin-left: 1.5625rem;
  color: #969896;
}
/* line 65, ../sass/login.scss */
.L_container .main .radio .setradio {
  position: relative;
  float: left;
  border: 1px solid #000000;
  display: inline-block;
  overflow: hidden;
  height: 1.25rem;
  width: 1.25rem;
}
/* line 73, ../sass/login.scss */
.L_container .main .radio .setradio img {
  display: none;
  position: absolute;
  top: -30%;
  left: -20%;
  width: 200%;
}
/* line 80, ../sass/login.scss */
.L_container .main .radio .setradio .checked {
  display: block;
}
/* line 87, ../sass/login.scss */
.L_container .tips {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  margin-top: -8.90625rem;
  margin-right: -7.5rem;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  border: 1px solid #333333;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}
/* line 98, ../sass/login.scss */
.L_container .tips .main {
  border: 1px solid #000000;
  width: 12.5rem;
  height: 10.15625rem;
  background: #F7F7F7;
  padding: 0;
}
/* line 104, ../sass/login.scss */
.L_container .tips .main .tit {
  overflow: hidden;
  line-height: 1.5625rem;
  background-color: #8B0000;
}
/* line 108, ../sass/login.scss */
.L_container .tips .main .tit span {
  padding-top: 0.3125rem;
  padding-right: 0.625rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  border: 1px solid #F7F7F7;
  border-bottom: 0;
  color: #F7F7F7;
}
/* line 114, ../sass/login.scss */
.L_container .tips .main .tit span:first-child {
  float: left;
}
/* line 117, ../sass/login.scss */
.L_container .tips .main .tit span:last-child {
  float: right;
  -moz-border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
}
/* line 122, ../sass/login.scss */
.L_container .tips .main .content {
  position: relative;
  height: 7.96875rem;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}
/* line 128, ../sass/login.scss */
.L_container .tips .main .content p {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 3.125rem;
  width: 60%;
  line-height: 3.125rem;
  text-align: center;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, #669900 0%, #ffffff 100%);
}
/* line 139, ../sass/login.scss */
.L_container .tips .main .content span {
  position: absolute;
}
/* line 142, ../sass/login.scss */
.L_container .tips .main .content .rollboxTop, .L_container .tips .main .content .rollboxBottom {
  height: 2.42188rem;
}
/* line 145, ../sass/login.scss */
.L_container .tips .main .content .rollboxLeft, .L_container .tips .main .content .rollboxRight {
  width: 20%;
}
/* line 148, ../sass/login.scss */
.L_container .tips .main .content .rollboxTop {
  top: 0;
  left: 0;
  animation: 2s rollertop infinite;
}
/* line 153, ../sass/login.scss */
.L_container .tips .main .content .rollboxBottom {
  bottom: 0;
  right: 0;
  animation: 2s rollerbottom infinite;
}
/* line 158, ../sass/login.scss */
.L_container .tips .main .content .rollboxLeft {
  top: 0;
  left: 0;
  animation: 2s rollerleft infinite;
}
/* line 163, ../sass/login.scss */
.L_container .tips .main .content .rollboxRight {
  bottom: 0;
  right: 0;
  animation: 2s rollerright infinite;
}

/* line 175, ../sass/login.scss */
.shadow {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

@keyframes myTxt {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rollertop {
  0% {
    background: red;
    width: 10%;
  }
  100% {
    background: yellow;
    width: 100%;
  }
}
@keyframes rollerbottom {
  0% {
    background: blue;
    width: 10%;
  }
  100% {
    background: yellow;
    width: 100%;
  }
}
@keyframes rollerleft {
  0% {
    background: blue;
    height: 10%;
  }
  100% {
    background: yellow;
    height: 100%;
  }
}
@keyframes rollerright {
  0% {
    background: blue;
    height: 10%;
  }
  100% {
    background: yellow;
    height: 100%;
  }
}
